*
{
    padding: 0px;
    margin: 0px;
}
.box
{
    box-sizing: border-box;
width: 50vw;
   display: inline-block;
   margin: 10vh 25vw;
   
}


button
{color: white;
    border: 0;
   margin: 0;
   padding: 0;
    width: 50vw;
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
img
{
    border: 0;
    margin: 0;
    padding: 0;
    width: 50vw;
   
}